# .gitignore
.vs/
SensorizMonitoring/appsettings.json
SensorizMonitoring/bin/Debug/net8.0/appsettings.json
SensorizMonitoring/bin/Release/net8.0/appsettings.json
SensorizMonitoring/appsettings.json
SensorizMonitoring/docker-compose.yml
SensorizMonitoring/Dockerfile
*.json
*.txt
SensorizMonitoring/bin/Debug/net8.0/appsettings.json
SensorizMonitoring/bin/Debug/net8.0/LOGS/arquivo_20240521.txt
SensorizMonitoring/bin/Debug/net8.0/appsettings.json
